[2015-09-07 11:31] faxm0dem opened #2 "Discussion: use class instead of exec for notification"
I _think_ it would make more sense to use this module like this:

[code]

Reasons I can think of:
- make code be easier to modify without changing interface
- make code more portable: one dist may need executing something, the other noop

[2015-09-25 12:27] tangseng5v commented on #2
Using class makes more sense. Agree .

[2016-01-25 07:13] felixb commented on #2
:+1:

[2016-01-27 09:07] roidelapluie opened #5 "This module is not indempotent"
Due to systemd design, this module is not indempotent.
#### The problem

[code]

First run:
- `File[foo.service]` is changed
- `File[foo2.service]` file fails during catalog execution (imagine that group xyz does not exist)
- `Exec['systemctl-daemon-reload']` is not called because File[foo2] failed
- `Service[foo]` is not restarted because `Exec['systemctl-daemon-reload']` is skipped

Fix `File[fo

[2016-01-27 09:39] faxm0dem commented on #5
as discussed on freenode/#puppet with @roidelapluie the proposed change is to replace the `Exec[daemon-reload]` with a defined type. Now #2 is an open discussion on wether to replace the `Exec` with a `Class`.

So I guess this boiis down to: should we use a Class or a Define?
I'll update the discussion in #2

[2016-01-27 09:39] faxm0dem commented on #2
Should we use a define or a class?
Which would make more sense (see also #5)

[2016-01-27 10:04] roidelapluie commented on #5
https://gist.github.com/roidelapluie/069223753a576983de39

[2016-01-27 10:19] faxm0dem commented on #2
After discussing this with @Volcane on IRC, it came out that it would probably make sense to go further with the abstraction, and to provide a `systemd::unit` defined type which would take care of everything.

[2016-01-27 10:32] felixb commented on #2
@faxm0dem I've created a proposal PR for this already in #4.

[2016-02-04 10:35] roidelapluie commented on #5
@raphink @mcanevet @mfournier can we have your input?

[2016-05-04 07:36] raphink commented on #2
https://github.com/camptocamp/puppet-systemd/issues/4 has been merged. I see from https://github.com/camptocamp/puppet-systemd/issues/5 that there was a suggestion still to use defines to avoid the problems described by @roidelapluie. Is that still a plan?

[2016-05-13 14:17] witjoh opened #7 "Forge update"
Should be great if one could publish a new version to the forge

Grts and Thx

Johan

[2016-05-16 13:30] raphink commented on #7
Version 0.3.0 has been released.

[2016-05-16 13:30] #7 closed

[2016-08-13 02:41] lorrin opened #11 "No LICENSE file"
Would you be willing to mark this code as released under a specific OSI license? That would make using it in a corporate setting easier. Thanks.

[2016-08-16 14:06] #11 closed

[2016-10-24 02:57] jarro2783 opened #15 "Manage drop-in files"
Can support for drop-in files to override package units be added to this module?

[2016-10-31 10:06] raphink commented on #15
Could you give a concrete example of what you need?

[2016-10-31 21:32] jarro2783 commented on #15
If I want to override some parameters for a systemd unit, then I would put a drop in file in `/etc/systemd/system/unit.service.d`, with the parameters that I want to override. So perhaps I could do something like:
[code]
and the contents would get placed in `/etc/systemd/system/unitname/99environment.conf`.

[2017-01-13 17:29] trevor-vaughan opened #17 "Module should be updated to use the new Puppet 4 goodness"
I'll be submitting a PR as soon as I update the tests

[2017-02-10 19:02] bjoshua opened #21 "investigate update to camptocamp/systemd module"
Camptocamp module has issues with puppet 4 at the moment.
https://github.com/camptocamp/puppet-systemd/pull/18

Utilizing justin8's module until camptocamp has the issues resolved.

[2017-02-10 19:04] #21 closed

[2017-02-10 19:05] bjoshua commented on #21
meant to open against another repository, apologies.

[2017-02-17 10:55] gauthier-delacroix commented on #15
That would be a nice addition to customize systemd services without overriding the entire original file.

[2017-02-23 23:34] craiggenner opened #22 "'systemctl daemon-reload' is not qualified"
When importing this module and then running spec tests I get the following:

[code]

The fix appears to be to change:
[code]
to:
[code]

Not sure if this breaks other things though.

[2017-03-07 03:29] rnelson0 commented on #5
Is this and #2 still being worked on? There was some interest from puppet/r10k in using this module but this issue came up as a potential issue.

[2017-04-02 23:31] bastelfreak commented on #5
ping @raphink @mcanevet. Do you have any objections on this? Let us know if there isn't any active work on this module. If so, we could transfer it to Vox Pupuli?

[2017-04-03 06:15] roidelapluie commented on #5
No work ATM on my side

[2017-05-08 16:11] afn opened #24 "Add explicit ordering to README.md"
It would be helpful if the README file had a complete example containing both a `systemd::unit_file` and a `service` resource. In particular, it wasn't immediately obvious that the ordering needs to be made explicit:

[code]

Without the explicit ordering, Puppet will attempt to start the service before the unit file has been created.

[2017-05-09 20:24] jhriggs opened #25 "Please push a new module to the forge that includes service_limits"
0.4.0 was pushed in August and service_limits was added in October.

[2017-05-10 10:01] alexjfisher commented on #22
It should be fine either way.
https://docs.puppet.com/puppet/latest/types/exec.html#exec-attribute-path

@craiggenner What does your $::path fact look like?

[2017-05-15 15:33] cedef commented on #5
I would like to know if this module is still maintained or if it should be migrated to Vox Pupuli as suggested by @bastelfreak

[2017-05-16 10:13] craiggenner commented on #22
I would agree that it should be fine either way, but I couldn't get the tests to pass until I tried it with a `split`.

I'm not working in that environment any more so I'm not able to say what $::path is, but I should be doing something similar soon so I'll test again and let you know the results.

[2017-05-17 18:29] petems opened #28 "stdlib functions are used, but no stdlib requirement in metadata.json"

[2017-05-18 09:10] raphink commented on #28
Fixed in c9d2e5193227ec086a63ae682b2b609cfdf86e1b

[2017-05-18 09:10] #28 closed

[2017-05-18 09:14] raphink commented on #22
Are you still able to reproduce this?

[2017-05-18 09:33] raphink commented on #5
We actually only use the main class of this module, which is why we're not very reactive on adding features to it. Transfering to Vox Pupuli is probably a good option.

[2017-05-18 21:34] bastelfreak commented on #5
Hi @raphink. Let me know if you want to transfer it. You currently have the github permissions to do it.

[2017-06-26 13:31] alexjfisher commented on #24
What's perhaps even more confusing is the service also needs to `require => Exec['systemctl-daemon-reload']`

[2017-07-17 07:49] pouete opened #34 "Puppet version compatibility"
Hello puppet-systemd,
I just found that the metadata file contains incorrect information about the puppet version compatibility.
For instance, it claims it is compatible with versions < 3.7 . However the parametrized arguments in init.pp do not agree.
Is it possible to have a cleaned up version of metadata file ?

Regards.

[2017-07-19 14:32] #17 closed

[2017-07-20 01:50] EmilienM opened #35 "PR#18 broke service limits capacity"
If you were using MemoryLimit feature in systemd, your Puppet catalog will broke because of https://github.com/camptocamp/puppet-systemd/pull/18.

[2017-07-20 01:55] EmilienM commented on #35
Workaround for OpenStack TripleO CI: https://review.rdoproject.org/r/#/c/7759/

[2017-07-20 01:55] EmilienM commented on #35
@bastelfreak ping hey it's me again

[2017-07-20 02:09] trevor-vaughan commented on #35
Working on adding the remainder of the limits in http://www.dsm.fordham.edu/cgi-bin/man-cgi.pl?topic=systemd.resource-control&ampsect=5. PR soon.

[2017-07-20 03:04] trevor-vaughan commented on #35
If someone could check the referenced PR, it would be appreciated.

[2017-07-20 04:19] trevor-vaughan commented on #35
@EmilienM Can you see if https://github.com/camptocamp/puppet-systemd/pull/36 fixes you issue?

[2017-07-20 04:50] EmilienM commented on #35
@trevor-vaughan it does.

[2017-07-20 07:51] bastelfreak commented on #35
@EmilienM can you provide tests for the openstack usecases?

[2017-07-20 11:37] trevor-vaughan commented on #35
@bastelfreak That should go into a different ticket. We covered the one item that was removed in this one.

[2017-07-25 17:12] pillarsdotnet opened #37 "Better test for systemd (and other init systems)"
The recommended test for init=systemd fails on systems where the init binary is named "/sbin/init" rather than "systemd".

The following test works on every system I've tried so far:

[code]

[2017-07-25 17:21] pillarsdotnet commented on #37
Submitted Pull-Request #38 to fix the problem.

[2017-09-05 12:31] TheMeier opened #40 "migration path drop in file from 0.4.0 to 1.0.0"
while its great to see that there is now a type for drop ins i am missing a migration path from handling drop-in file with systemd::unit_file.
if i ugrade from 0.x to 1.x have to change all of my modules using something like this

[code]

at the same time. otherwise my code breaks at  assert_type(Systemd::Unit, $name)

[2017-09-08 07:01] TheMeier commented on #37
Use https://github.com/puppetlabs/puppetlabs-stdlib#service_provider instead.

[2017-09-08 07:05] TheMeier commented on #22
@craiggenner this is a topic with many modules. I think there is an argument here that your test setup is incomplete. I am running all of my tests using https://github.com/mcanevet/rspec-puppet-facts nowadays for that reason. path is certainly not the only fact you want to have pre-set.

[2017-09-08 07:16] TheMeier commented on #15
can this be closed now? and is PR #26 still needed at all?

[2017-09-08 08:49] jarro2783 commented on #15
Yeah I think this is resolved by #39.

[2017-09-08 08:49] #15 closed

[2017-10-17 21:32] #24 closed

[2017-11-14 20:07] axxelG opened #47 "fact systemd_internal_services is empty"
`puppet facts` throws a warning:

And there was no fact "systemd_internal_services"

Removing  `.to_sym` from `result[service] = status.to_sym` in /lib/facter/systemd.rb (line 55) fixed it for me.

[2017-11-20 19:38] redcricket opened #49 "Not able to set limits via systemd class"
I want to setup some systemd limits for a service so I have included ...

[code]
... in my manifest.  And I have this hiera data:

[code]

But when puppet on my node I get this error:

[code]

I have looked at the docs and they do not explain how to form the hash in hiera, they just give this example:

[code]

So how would I do that in hiera/yaml?

[2017-11-20 19:39] redcricket commented on #49
I have posted a question about this on [stackoverflow](https://stackoverflow.com/questions/47397542/how-should-i-structure-my-hiera-for-systemd-limits)

[2017-11-22 15:27] ekohl commented on #49
The stackoverflow answer is right: it should be a different type. I think ```Hash[String, Hash[String, Any]]``` would make the most sense while changing the default to ```{}```.

[2017-11-22 19:33] bastelfreak commented on #47
The patch is now merged. I will try to create a new release shortly.

[2017-11-22 19:33] #47 closed

[2017-12-08 22:04] jfleury-at-ovh commented on #37
This issue is fixed by #42.

[2017-12-09 12:14] #37 closed

[2018-01-15 19:49] AlbertoGarciaFdez opened #62 "LimitNOFILE restricted to integer type"
Hi, why is LimitNOFILE an integer type? AFAIK infinity can be used with LimitNOFILE on systemd.
Should not be this more appropriate?

[code]

[2018-01-16 08:53] raphink commented on #62
LGTM. Can you turn this into a PR please?

[2018-01-16 15:15] AlbertoGarciaFdez commented on #62
Sure, thanks!

[2018-01-18 08:53] traylenator commented on #62
Also 'soft:hard' is also permitted.

[2018-02-27 08:44] nbarrientos opened #64 "Flapping $::path forces to persist a new catalog into PuppetDB"
Hi,

When running Puppet interactively the value of `$::path` might differ from background runs as the former is taken from the login shell. This generates a catalog diff that perhaps will not apply any change on the target system but it will force a catalog replacement on PuppetDB which is kind of unnecessary IMHO.

[code]

https://github.com/camptocamp/puppet-systemd/blob/20a465b0d8751bc08913b55

[2018-02-27 14:59] ekohl commented on #64
Would you suggest using an explicit path? That makes sense to me.

[2018-02-27 15:15] nbarrientos commented on #64
Our local patch is:
[code]
It of course ignores other platforms where the path could be different :)

[2018-02-27 15:35] ekohl commented on #64
I'm pretty sure that current Gentoo stable is ```/bin/systemctl``` but they're going to switch and it's not in metadata.json. You could also use ```path => ['/bin', '/usr/bin']``` and that'd work on all platforms I think.

[2018-02-27 20:26] bastelfreak commented on #64
@nbarrientos which puppet version do you use? Can you show our puppet.conf? I under stand the issue, but I'm not able to reproduce it with mit different puppet 5.x systems.

[2018-04-18 15:22] jderrien opened #74 "Force ordering on systemd daemon reload before service restart"
Hello,

The readme gives the following example:

[code]

But from what I know, this won't force the daemon reload to happen before the service 'foo' is refreshed. Instead, it should be safer to have it explicitly set with a `require`:

[code]

Please let me know if I'm wrong here.

[2018-06-18 15:12] mvisonneau opened #77 "Include puppetlabs-inifile in the dependencies list"
There are a few `ini_setting` resources being used in this module. It doesn't seem included in the requirement list. I'll do a MR if/when I have some time.

[2018-06-20 20:04] bastelfreak commented on #77
from the [services section](https://github.com/camptocamp/puppet-systemd#services):

inifile is a soft dependency. It isn't needed for everything in this module. We try to keep the list of dependencies small and only add hard dependencies. inifile is used more and more in this module, so we could argue that it is almost a hard dependency. I vote for keeping it out of the metadata.json. But if more

[2018-06-20 20:15] trevor-vaughan commented on #77
@bastelfreak Recommend voting on https://tickets.puppetlabs.com/browse/PUP-5880

[2018-06-20 20:18] bastelfreak commented on #77
ugh annoying this year. Hopefully this gets fixed somewhere in the future.

[2018-09-11 10:12] linuxmail opened #86 "Hiera usage for systemd::unit_file"
hi,

just a short question: can I call the systemd::unit_file from Hiera too ? I tried was included the systemd class and

[code]
but it seems, that I have to use a create_resource manifest wrapper .., or maybe I just call the class wrong ...

[2018-09-11 12:27] ekohl commented on #86
It's a define so you're correct you need some sort of wrapper for usage in hiera.

[2018-09-11 13:43] linuxmail commented on #86
hi,

thanks.

[2018-09-11 13:43] #86 closed

[2018-09-11 18:57] bastelfreak commented on #86
@linuxmail in other modules we often have an array as parameter. The manifest can iterate on that array of hashes and create the defined resource and pass each hash. If you're interested you can provide that as a PR to this module.

[2018-10-08 05:06] xrobau commented on #74
This is confirmed, and this is a documentation issue.  The only way I can get the service to restart AFTER the daemon-reload is using the extra 'require' -

[code]

[2018-10-08 11:49] bastelfreak commented on #74
@xrobau could you provide a PR to update the README.md?

[2018-10-17 19:19] linuxdan opened #90 "STIG Rule RHEL-07-021340 - The system must use a separate file system for /tmp"
Check Text: Verify that a separate file system/partition has been created for "/tmp".
Check that a file system/partition has been created for "/tmp" with the following command:
`# systemctl is-enabled tmp.mount`
`enabled`
If the "tmp.mount" service is not enabled, this is a finding.
Fix Text: Start the "tmp.mount" service with the following command:
`# systemctl enable tmp.mount`

It is not obviou

[2018-10-17 20:37] trevor-vaughan commented on #90
@linuxdan You don't. https://github.com/simp/pupmod-simp-simp/blob/master/manifests/mountpoints/tmp.pp

Turns out, we made a whole framework for just what you're trying to do.

[2018-10-17 22:28] linuxdan commented on #90
@trevor-vaughan
But I do not have the authority to drop SIMP into the mix.

[2018-10-17 22:33] linuxdan commented on #90
@trevor-vaughan
Also, after looking at your code, I suspect it would fail the check as well.
All this STIG-ish garbage I am posting comes out of Nessus scans.

Try the `systemctl is-enabled this.mount` command on your system.

[2018-10-18 00:51] trevor-vaughan commented on #90
@linuxdan The `tmp.mount` service doesn't really have anything to do with the `systemd` module, it's just a built-in feature of EL7 and can be enabled using `systemctl` and, I believe, is on by default.

The code that I posted meets the actual STIG requirements.

Anyway, I would recommend closing this since it doesn't have anything really to do with the `systemd` module.

[2018-10-18 02:58] linuxdan commented on #90
Did some searching.
I may be able to do this with the Puppet service type.
Also, see https://tickets.puppetlabs.com/browse/PUP-3483 for some interesting reading.
I will share what I find.

[2018-10-18 06:01] bastelfreak commented on #90
You could manage the service pretty easily with:
[code]

I am not sure if this should be handled within this module or a profile, but probably the latter.

[2018-10-18 13:04] linuxdan commented on #90
@bastelfreak
I tried it and it works great.  Running with debug, I see puppet running `/bin/systemctl is-active tmp.mount` and `/bin/systemctl is-enabled tmp.mount`  but there is no such fact as "systemd".

This resource declaration is in a RHEL 7 only manifest file, but I added `provider => 'systemd',` just to be extra-certain.  it runs with no problem.

**NOW** I can close this issue

[2018-10-18 13:04] #90 closed

[2018-10-19 12:47] #25 closed

[2018-10-22 16:46] matt6697 opened #91 "Regex error when tying to set CPUQuota service limit."
Regex error when tying to set CPUQuota service limit.
[code]
The first part of the regex `Optional['CPUQuota']  => Pattern['^([1-9][0-9]?$|^100)%$'],` never allows a value < 100%

**Seems to be working with the `'^([1-9][0-9]?|^100)%$'` regex (Tested regex with https://www.freeformatter.com/regex-tester.html)**

[2018-10-22 16:54] ekohl commented on #91
The second `^` also looks redundant. Could you come up with a pull request?

[2018-10-22 20:36] matt6697 commented on #91
Agree, correct regex seems to be `^([1-9][0-9]?|100)%$`

[2018-10-22 20:48] matt6697 commented on #91
Created PR #92

[2019-01-18 14:17] ekohl commented on #34
It looks correct in git:
https://github.com/camptocamp/puppet-systemd/blob/f2ab8e6b1671730da9a9cdba5cad5c9b2be45a4f/metadata.json#L20-L25

It could use a release though to get an official Puppet 6 compatible version on the forge :)

[2019-01-18 19:11] bastelfreak commented on #34
@raphink can you do a new release?

[2019-02-11 10:39] ekohl commented on #34
@raphink ping? :)

[2019-02-25 08:30] raphink commented on #34
Release merged, thanks @bastelfreak

[2019-02-25 08:30] #34 closed

[2019-04-26 16:25] solarkennedy commented on #74
What if there was a collector that ensured this always happened?
[code]
And then nobody could "forget" to do this or "forget" to read the docs?

[2019-04-26 17:35] trevor-vaughan commented on #74
@solarkennedy I've had cases where `daemon_reload` fails. I really don't want all of my Services to stop doing things because of that.

[2019-04-27 14:51] solarkennedy commented on #74
They wouldn't stop, but it is true, they wouldn't get refreshed during that puppet run.
But if you couldn't daemon-reload, refreshing them wouldn't help much anyway?

[2019-04-29 09:16] alexjfisher commented on #77
This dependency has been included since https://github.com/camptocamp/puppet-systemd/pull/14.

[2019-04-29 10:23] mattmb commented on #74
I like the idea of a collector @solarkennedy

I guess the downside that @trevor-vaughan is talking about is that you could have two services. One where the unit file changes, one where a different config changes and the second service would fail to refresh even though it didn't strictly depend on the daemon-reload.

However, I think the need for puppet to converge trumps a failed run which will co

[2019-04-29 10:26] ekohl commented on #74
The chance of a circular dependency with such a collector is rather large. Imagine a class containing all its resources (including a service) and another class also containing all its resources that depends on the first class.

[2019-04-29 12:45] trevor-vaughan commented on #74
@ekohl That's probably a better reason not to do this than the failed service.

@mattmb The issue is that this isn't Puppet convergence (it did that during the catalog compilation), this is the system having a bug that will cause currently loaded applications to not work. So it affects previously running services instead of just new ones.

The last time I hit this issue, I couldn't resolve it with

[2019-04-29 12:57] mattmb commented on #74
Sorry, that might have been confusing, when I said convergence I meant convergence of the state of the system with what is declared in puppet. And the reason I'd love a general solution is that I don't want a case where puppet does: "change unit file" -> "restart service" -> "reload-daemon" which means that the changes in the unit file are not applied and won't even be applied in the next puppet r

[2019-05-01 13:44] mattmb commented on #74
@ekohl can you help me visualise the circular dependency risk? If `ClassA` requires `ClassB` and both have a service defined in them and both those services require `Class['systemd::systemctl::daemon_reload']` then won't puppet just do:
* `Class['systemd::systemctl::daemon_reload']`
* ClassB
* ClassA

[2019-05-01 13:46] trevor-vaughan commented on #74
Oh, if you do decide to do this, make sure to restrict the collector to [systemd services only](https://puppet.com/docs/puppet/5.3/types/service.html#service-provider-systemd)

[2019-05-29 13:30] rnelson0 opened #105 "Please release a new version with stdlib 6 support"
#103 was merged to allow stdlib 6 report, but there is no new release on the forge. Modules that depend on this but that support stdlib 6 are failing beaker tests. Thank you.

[2019-06-24 12:51] robertvargason opened #113 "Cache cannot be set to no in /etc/systemd/resolved.conf"
As far as I understand one should be able to set the value of Cache to 'yes' or 'no' in /etc/systemd/resolved.conf via systemd::resolved.

But in systemd::resolved the variable named $cache is a Boolean and if it is set to false, the value does not get rendered to /etc/systemd/resolved.conf:

[code]

So only setting it to true will render it to the file with Cache=yes (which under Ubuntu is the de

[2019-07-09 08:47] TheMeier opened #114 "Allow Sensitive type for systemd::dropin_file::content"
Since content this is just passed through to a file resource allow to pass Sensitive values also

[2019-07-15 09:48] #114 closed

[2019-08-09 06:35] TheMeier opened #116 "systemd::dropin_file::daemon_reload possible duplicate resource defintion"
If you define multiple drop-in for the same service using the new systemd::dropin_file::daemon_reload parameter on more then one of them puppet will fail with a duplicate declaration error for `Exec[<servicename>.service-systemctl-daemon-reload]`.

[2019-08-09 09:28] ekohl commented on #116
Looks like this only happens when you use `daemon_reload => 'eager'`:

https://github.com/camptocamp/puppet-systemd/blob/f0ce6f04aa89c002cd9ba721c6f5d91177f32afc/manifests/dropin_file.pp#L95-L105

[2019-08-16 13:18] raphink commented on #113
I can confirm this bug, as the code reads:

[code]

so `$_cache` gets set to the right value, but never applied.

[2019-08-21 08:46] ThibaultDewailly opened #117 "Manage dropin_file for target type systemd unit"
We're currently not able to manage dropin_file for target type units.

Module should be able do manage ressources like this :

    file { '/etc/systemd/system/remote-fs-pre.target.d':
        ensure  => directory,
        owner   => 'root',
        group   => 'root',
        mode    => '0755',
    }

    file { '/etc/systemd/system/remote-fs-pre.target.d/nfs.conf':
        ensure  => file,

[2019-08-21 09:27] #117 closed

[2019-09-09 10:34] Schamane187 commented on #113
Hi,

just ran into an issue as well, I want to use the parameter no-negative in section cache.
I had to change manifest to enable caching with
"no-negative"

so in
resolved.pp

 ` Boolean $cache                                                   = $systemd::cache,`
has been changed to
`  Optional[Variant[Array[String],String]] $cache                   = $systemd::cache,`

and in section

[code]
no-

[2019-09-20 19:42] micah opened #118 "add timer support"
systemd provides a cron-like system replacement, through the use of unit configuration files that end in ".timer". These unit configurations encode information about timers controlled and supervised by systemd, for timer-based activation.

It would be excellent if this module provided a mechanism for managing these!

[2019-09-21 10:12] bastelfreak commented on #118
Hi,
this already works fine:
https://github.com/voxpupuli/puppet-borg/blob/f2c66b51c46d57b25326524415c0e9ced683a469/manifests/service.pp#L11-L26

https://github.com/voxpupuli/puppet-borg/blob/f2c66b51c46d57b25326524415c0e9ced683a469/templates/borg-backup.timer.epp#L1-L13

[2019-09-22 17:24] bastelfreak commented on #113
@Schamane187 can you provide a patch for this?

[2019-09-23 08:13] Schamane187 commented on #113
Hi,

was moving away for the moment from systemd for that task, cause CentOS 7 Systemd is to outdated for those features. But with CentOS I will be back to this.

A Patch for  2 lines? but ok, here we go

[code]
Cheers

[2019-09-23 16:25] trevor-vaughan commented on #118
@bastelfreak I agree that it works, but it's confusing for end users. It would be nice to have a defined type or something that just wraps it to be more clear.

[2019-09-26 12:25] traylenator commented on #118
I was just contemplating writing  a systemd::timer  type , will try something.

[2019-09-26 12:50] traylenator commented on #118
The only interface that makes sense would be

[code]

Essentially to specify the content of the service and timer unit.

It does not make sense to specify the individual say `OnCalandar` arguments since this gets tricky because you then have to define the Before, , After, multiple OnCalendar, ...

The alternative is to only support really trivial jobs. Such as

[code]

along with some other timer

[2019-09-26 12:53] trevor-vaughan commented on #118
@traylenator I think that it is. I also think that a wrapper that creates the rest of the bits for a generally useful `OnCalendar` example would be useful but could be a later addition.

[2019-10-24 06:55] arlt opened #123 "vacuum as routine task"
I would like to clean up entries older than n days.
A cleanup option $vacuum_time='35d' which results in a daily cron entry
[code]
would be fine.
One could consider --vacuum-size and --vacuum-files, too.

[2020-01-07 09:01] kasimon opened #133 "How to enable/start parameterized timers?"
If I'm not mistaken there currently is no support for parameterized timer units, at least I have not found a way to model the result of these commands with the module:

[code]
Could this be added or the documentation improved if this is already supported?

[2020-01-29 22:45] reenberg commented on #2
Am I wrong in saying that this and #5 can be closed as this was implemented using a class in #18?

[2020-01-30 19:57] faxm0dem commented on #2
I agree, thanks for noting this!

[2020-01-30 19:57] #2 closed

[2020-02-04 22:33] rgrizzell opened #139 "Add support for user-based Systemd resources"
One of the benefits to Systemd is spawning a Systemd user instance where a user can edit, start, and stop their own services, timers, etc. without requiring permissions to the system-level resources.

While I understand that managing user configurations with Puppet is not advisable, It would be nice to manage the _global_ Systemd user units for secured systems. For services, this means that any us

[2020-02-19 17:04] schlitzered commented on #113
this pull request solves the issue:

https://github.com/camptocamp/puppet-systemd/pull/140

[2020-02-24 11:36] bastelfreak commented on #113
PR got merged

[2020-02-24 11:55] robertvargason commented on #113
This issue should not be closed as the original issue is still not resolved. One cannot set Cache=no

[2020-02-24 13:57] schlitzered commented on #113
@robertvargason: you are right. there was an "if $cache" block, which prevent setting this to false.

i created a new merge request for this.

[2020-02-25 12:12] robertvargason commented on #113
@schlitzered: thanks for that. the commited version is working for us.

if you want to be very clever with your implementation you might want to consider one of the two extra solutions:

a) to introduce a setting which leaves the setting Cache unrendered. So that Cache=yes, Cache=no, Cache=no-negative as well as no Cache setting at all (should be the module default) is possible. which leaves the o

[2020-02-25 13:30] schlitzered commented on #113
i leave this up to the original maintainer to decide.

but IMHO, I would set the default in the puppet module, to whatever the default is for the $OS_NAME and $OS_MAJOR. and always put this config into the on the system.

[2020-07-12 22:15] tobias-urdin opened #155 "Need a new release"
Need a new release so that e556d27868b250509b08511e80374a002c9c1649 is included.

The issue https://github.com/voxpupuli/puppet-rabbitmq/issues/836 needs a new release of puppet-systemd so it can raise it's minimum requirement and start using the change.

[2020-07-15 10:29] #105 closed

[2020-07-15 10:29] #77 closed

[2020-07-15 10:33] raphink commented on #64
Getting back to this. Using the  `$::path` fact in `exec` resources is a standard practice, I'm not sure I want to "fix" this in the systemd module.

If this is problematic to you, you could override the `fact` path with a file in `/etc/puppetlabs/facter/facts.d` or in a wrapper when you launch Puppet, using the `FACTER_path` environment variable.

[2020-07-15 10:33] #64 closed

[2020-07-15 10:35] #22 closed

[2020-07-15 10:36] raphink commented on #62
Leaving this open for now for the sake of `soft:hard`

[2020-07-15 10:37] #40 closed

[2020-07-15 10:38] #91 closed

[2020-07-15 10:39] raphink commented on #113
FIxed in #140

[2020-07-15 10:39] #113 closed

[2020-07-15 10:41] raphink commented on #118
Implemented in #138

[2020-07-15 10:41] #118 closed

[2020-07-15 10:45] raphink commented on #74
@bastelfreak @ekohl @trevor-vaughan

what do you think of https://github.com/Yelp/puppet-systemd/pull/1 ?

[2020-07-15 10:49] raphink commented on #155
Waiting a few answers for PRs and we'll be ready for a release.

[2020-07-15 14:43] traylenator commented on #64
Is it? It is camptocamp modules :-) Not sure I've seen it else where.

[2020-07-16 06:40] raphink commented on #64
Maybe I'm too used to our own standard? 😕

[2020-08-20 21:23] tobias-urdin commented on #155
ping @raphink

[2020-09-08 12:41] k0ka opened #159 "Allow service reloading"
There is no easy way to use
`systemctl reload <service>`
for a specified service. Puppet will always restart it.

I suggest adding some parameter like `$use_reload` to `systemd::unit_file` that will set the `restart` argument of `service`.

[2020-10-15 18:31] tparkercbn opened #162 "Internal systemd service names don't adhere to the Systemd::Unit pattern"
The internal service names eg: service {'systemd-journald': } doesn't adhere to the enforced pattern in Systemd::Unit.

This means that any service that needs to notify any systemd service cannot enforce that the service name value is of type Systemd::Unit

[2020-10-23 06:55] traylenator commented on #133
[code]

works.

[2020-11-04 15:31] kasimon commented on #133
@traylenator You are totally right. I had found out it in the meantime myself but forgot about this issue. Thanks!

[2020-11-04 15:31] #133 closed

[2020-12-16 16:21] usagijer opened #166 "definition of $cache in init.pp doesn't include 'no-negative'"
in manifests/resolved.pp
the $cache param is defined as:
  Optional[Variant[Boolean,Enum['no-negative']]] $cache              = $systemd::cache,

in init.pp , the no-negative option is not included.

[2021-01-15 11:48] andriimua opened #173 "Add support to use infinity with LimitNPROC"
It would be nice to have a possibility to use _LimitNPROC_ with an _infinity_ option.

I've checked out PRs and see that the next PR adds this opportunity:
https://github.com/camptocamp/puppet-systemd/pull/152/files

**Reference**:
https://www.freedesktop.org/software/systemd/man/systemd.exec.html

[2021-01-15 13:56] raphink commented on #173
Fixed in #152

[2021-01-15 13:56] #173 closed

[2021-01-18 14:08] raphink commented on #159
That seems like a reasonable idea. Could you provide a PR for this please?

[2021-01-25 11:01] k0ka commented on #159
Hi,

here it is https://github.com/camptocamp/puppet-systemd/pull/175

[2021-01-29 17:48] jhoblitt commented on #74
I just ran into this ordering issue too.  I agree that the resource collector is ugly but can't think of a better solution that doesn't involve having to wrap the `service` type as well.

[2021-02-18 09:19] tuxmea opened #178 "Cyclic dependency error when using systemd::unit_file in multiple classes"
Using systemd::unit_file in multiple, strictly ordered classes, causes a cyclic dependency error.

Consider the following code:

1. Role:
[code]
2. Profiles
2.1. profile::systemd
[code]
2.2. profie::base_os
[code]
2.3. profile::monitoring
[code]

Unit tests or using this code on a system produce cyclic dependency error:
[code]

[2021-02-18 21:49] bastelfreak commented on #178
Hi!
I thought a bit about this. If you set `active` to `true` on the `systemd::unit_file` defined resources, it creates the service resource for you:
https://github.com/camptocamp/puppet-systemd/blob/8f68b0dcf3bbbafc60c025879a28004fc9815aab/manifests/unit_file.pp#L91-L98

You basically define the service twice, once in your profile and once via the defined resource. This works by accident because

[2021-02-19 09:47] tuxmea commented on #178
Fix is available in #171

[2021-02-27 01:16] TwizzyDizzy opened #180 "Static units cannot be enabled"
**Description**

systemd version: 219
module version: 2.12.0

definition of `worker.target`
[code]

Definition of `api-default-queue.service` (instantiated from template) in hiera:
[code]

**Expected behaviour**:

Puppet tries to enables that unit but realizes that it's a static unit and does nothing.

**Actual behaviour**

Puppet restarts the unit

[code]

leads to

[code]

**Suggested behaviour*

[2021-03-02 00:05] ekohl commented on #178
#171 has been merged so I think this can be closed now.

[2021-03-02 08:53] #178 closed

[2021-03-03 13:41] TwizzyDizzy commented on #180
Turns out I have misused the module. I tried to manage instantiated units via `systemd::manage::unit_file` while I should have been managing those with `systemd::manage::services`.

Sorry for the irritation.

Cheers
Thomas

[2021-03-03 13:41] #180 closed

[2021-03-10 12:55] thomasgoirand opened #184 "Please revert Puppet 5 dropping patch"
Hi,

In this commit:
https://github.com/camptocamp/puppet-systemd/commit/97dd16fa32886b5b0f77a6f38a4953d4c1511c0e

you are dropping puppet 5 support. Unfortunately, in Debian, we were not able to package Puppet 6, due to some problems packaging jruby. So Bullseye will continue to contain Puppet 5. Therefore, I would like to kindly ask you to continue to support us for at least the following 2 to 3

[2021-03-10 13:00] bastelfreak commented on #184
Hi,
[disclaimer: I'm not a maintainer here]
Puppet 5 is end of life since a few months. It won't receive any security patches. Why should this module keep supporting it? That just encourages users to use EOL software. Debian could have packaged the agent without the server. Also Puppet provides packages for Debian and users are not forced to update this module. So why should modules keep supportin

[2021-03-10 13:24] ekohl commented on #184
Disclaimer: not a maintainer either.

I do use the Puppet packages from Debian and am highly disappointed that they chose to keep Puppet 5. IMHO the puppet-master package should have been dropped instead. Anyone who needs a Puppet server would be forced to run it with the official packages, containers or otherwise but at least the ecosystem would not have been held back.

IMHO requiring the ecosys

[2021-03-10 13:28] trevor-vaughan commented on #184
@ekohl What's the case against the official packages? I personally dislike the AIO bundle but it certainly works.

[2021-03-10 13:54] thomasgoirand commented on #184
Hi.
Well, we didn't "choose" puppet 5, we did as much work as possible, but unfortunately we missed the deadline for the Bullseye freeze.
About the security fixes, you can be sure that we WILL do the necessary work if we see this happens. This has always been the way it works.

As for the upstream packages from Puppetlabs, I've been very disappointed by them when doing the packaging for Debian. No

[2021-03-10 14:18] ekohl commented on #184
I understand this wasn't an explicit choice but rather implicit. I also understand that it's not easy but rather hard. I'm mostly unhappy with the end result of everything, as I'm you are as well.

No argument there. While I haven't looked at their deb packages, I have plenty of complains about their RPMs. Hence why I generally prefer the distro native packages.

I was suggesting to only drop the

[2021-03-10 21:24] thomasgoirand commented on #184
@trevor-vaughan It's fine if you're happy with the huge blobs, though in Debian, we still don't do that, and I'm happy we don't. BTW, even for Go, we do build from source.

@ekohl I prefer to keep at least a version of Puppet (the server) in Debian, even if that's Puppet 5. It's not the first time (and certainly not the last time) that we go without upstream support for something. That being said,

[2021-03-15 14:48] haessi82517 opened #185 "Custom SystemD Unit File will be created, but its not define in Puppet hiera"
Hello,
i've following issue (Module Version 2.10):

In Hiera, i've the following Statement:

systemd::timer { 'mlocate-updatedb.timer':
    active => true,
    enable => true,
  }

By a Puppet Run, he will created a Custom Timer File:

Notice: /Stage[main]/Profile::Linux::Rhel8/Systemd::Timer[mlocate-updatedb.timer]/Systemd::Unit_file[mlocate-updatedb.timer]/File[/etc/systemd/system/mlocate-update

[2021-03-18 14:26] raphink commented on #184
Hi there 👋

Official maintainer here.

As an Ubuntu developer for the last 15 years or so, I really dislike the AIO/omnibus approach as well. In fact, this led us at Camptocamp to move to containers when we switched our Puppet infra to Puppet 4.

That said:

* there's at least one good reason for AIO packages: official/paid support from @puppetlabs is made much easier by freezing all dependencies

[2021-03-21 00:07] kenyon commented on #184
@thomasgoirand you can always pin to the last release that does support Puppet 5.

[2021-03-23 14:25] jcharaoui opened #188 "Parameter value 'mask' for 'enable' does not work"
It would be nice to be able to mask unit files using `enable => mask` but although this value is an [accepted parameter](https://github.com/camptocamp/puppet-systemd/blob/97dd16fa32886b5b0f77a6f38a4953d4c1511c0e/manifests/unit_file.pp#L62), it doesn't set `target => '/dev/null'` as expected.

[2021-03-24 04:58] kenyon commented on #185
You need to provide either `timer_content` or `timer_source`. https://github.com/camptocamp/puppet-systemd#timer-units

[2021-04-19 19:56] #159 closed

[2021-04-22 12:49] Rewerson opened #190 "daemon reload problem with 3.0.0"
After updating to 3.0.0 limits configuration seems to be broken.
In the manifest I have:
[code]

Puppet applied this code and tried to perform service restart:
`Exec[restart php7.4-fpm.service because limits]`

But in fact, new limits were not applied, because of lack of daemon reload. By code I see there is call of:
`systemctl restart php7.4-fpm.service`

By running it by hand after puppet run, I

[2021-04-22 14:03] ekohl commented on #190
I would advise you to never use `$restart_service => true` on `systemd::service_limits` since it, as you noticed, doesn't do any correct ordering. If you also manage the service itself, you may end up with double service restarts as well.

What I always end up doing is roughly:
[code]

IMHO it should default to false. However, sadly there was just a major release and this wasn't considered.

Also,

[2021-04-22 14:58] Rewerson commented on #190
Wrong ordering and double reloads are less evil than no applying changes to service at all.
As said in docs for 3.0.0:

So, my case shows that mentioned _typically_ is not applicable. My code worked well on 2.x branch.

[2021-04-22 15:02] ekohl commented on #190
Looks like we never finished the discussion: https://github.com/camptocamp/puppet-systemd/pull/171#discussion_r556456446

[2021-04-22 15:25] Rewerson commented on #190
Unfortunately, that commit was already merged. And now I think it caused strange behavior of module. Maybe, maintainer could say more, because on paper it really should work from the side of puppet itself on 6.1.0 and later, but it's not.

[2021-04-22 15:34] ekohl commented on #190
Well, the thing is that it doesn't call the provider but just a simple `exec`. That's why I **never** use it. IMHO it should be removed or at least default to false.

[2021-04-27 07:21] #139 closed

[2021-04-27 07:21] #116 closed

[2021-04-27 07:21] #62 closed

[2021-04-27 07:21] #162 closed

[2021-04-27 07:22] #166 closed

[2021-04-27 07:22] #74 closed

[2021-04-27 09:44] ekohl commented on #74
I think closing this was a bad idea. https://github.com/camptocamp/puppet-systemd/pull/191 does add the collector (which is now safe due to daemon-reload removal), but still defaults to false. I've submitted https://github.com/camptocamp/puppet-systemd/pull/194 to resolve this issue.

[2021-05-13 15:21] anarcat opened #195 "README refers to non-existent dns_stub_resolver parameter"
The README currently says:

But the `dns_stub_resolver` parameter doesn't exist anywhere. There are `dns_stub_listener` and `use_stub_resolver` in `systemd::resolved` but neither do what is described above (which is, i guess, to leave resolv.conf alone?)

Anyways, this is rather all unclear and i suspect it should instead document whatever it is that `use_stub_resolver` does, but even that is not

[2021-05-19 13:18] brightdroid opened #196 "missing hiera lookup_options"
Please add merge options, so one can add entries in all hiera layers.

Example:
---
You have three hiera layers (common, env, node) and you'd like to merge "systemd::loginctl_users" from env and node, it's currently not possible.

Solution
---
common.yaml:
[code]

Docs: https://puppet.com/docs/puppet/7.6/hiera_merging.html#setting_lookup_options_to_refine_the_result_of_a_lookup

Thank you

[2021-05-19 14:14] ekohl commented on #196
Can't you specify that in your own Hiera? I'm not sure if modules should be opinionated on it.

[2021-05-20 02:58] kenyon commented on #196
Indeed, you can do this in your own hiera data, like I do in my `common.yaml`: https://github.com/kenyon/puppet/blob/0f039936c8adccdb8e8b8754a31567ee4bf05cb8/data/common.yaml#L4-L18

[2021-05-27 21:38] #184 closed

[2021-05-31 03:42] #185 closed

[2021-05-31 22:15] johanfleury commented on #190
So I’m facing the same issue with `systemd::timer` where `daemon-reload` is not called when the service definition changes.

[code]

[2021-06-01 08:45] ekohl commented on #190
It sounds like `systemd::timer` should be modified to perform that reload if needed. There you can indeed see that there is no `service` type managing the actual `borgomatic.service` service so no code to perform the daemon-reload.

[2021-07-15 14:34] jcbollinger opened #203 "systemd-resolved cannot be fully disabled because /etc/resolv.conf is managed"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: all
- Ruby: all
- Distribution: Ubuntu 20.04 (client)
- Module version: 3.0.0, 3.1.0

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
Catalog compilation fails with with a duplicate resource declaration error.

## What behaviour did you expect instead
`File[/etc/resolv.conf]` should not be managed

[2021-08-10 07:58] timdeluxe opened #211 "Mark camptocamp module as deprecated"
Please mark the old camptocamp module as deprecated, so that people (and API using programs) see the transfer to the new author.

[2021-08-11 01:25] smortex commented on #211
Cc @raphink @mcanevet

According to [this documentation](https://forgeapi.puppet.com/#operation/deprecateModule), an API call with a valid bearer token should do it (never tried this!):

[code]

[2021-09-10 21:10] root-expert commented on #211
The module has been marked as deprecated by camptocamp.

[2021-09-10 21:10] #211 closed

[2021-09-29 17:38] vchepkov opened #231 "provide sensible default for systemd::accounting"
module should supply sensible defaults for systemd::accounting, because class fails, for example, on Amazon Linux, even though accounting is not used

[2021-09-29 17:40] vchepkov commented on #231
seems already fixed on master

[2021-09-29 17:40] #231 closed

[2021-10-06 14:51] micah opened #232 "Add capability to manage /etc/systemd/*.conf files"
While this module does give you the capability to configure some systemd configurations (eg. `/etc/systemd/logind.conf`), it would be nice if it was able to configure the other configurables available (eg. `/etc/systemd/networkd.conf`).

I don't know if a generic mechanism would be the way to approach that, or to have specific entry points into the different config files and track them over time,

[2021-10-06 16:10] micah commented on #232
On 2021-10-06 08:13:31, Steve Traylen wrote:

Agreed, I've used the `puppetlabs-inifile` for the configuration myself,
for example:

[code]

Precisely.

[2021-10-20 07:35] #190 closed

[2021-10-28 01:30] kenyon opened #234 "systemd::dropin_file doesn't cause a systemd daemon-reload"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.23.0
- Ruby: 2.5.9
- Distribution: Ubuntu 18.04
- Module version: 3.5.1

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
systemd not reloaded.
## What behaviour did you expect instead
`systemctl daemon-reload` should be done.

[2021-11-05 17:50] simondeziel commented on #195
This was fixed by commit f71a4ad4673e5f6d241

[2021-11-05 17:55] #195 closed

[2021-11-08 10:11] ekohl commented on #234
Can you check what the output of `systemctl show -p NeedDaemonReload nginx.service` is when you do think a reload is needed? Also the debug output of a puppet run should show it running that command.

Or is `nginx.service` completely unmanaged here?

[2021-11-08 13:26] simondeziel commented on #234
I am also affected by the problem at hand. Here's a quick reproducer with `zfs-zed.service` that is not managed itself, only its dropin file is:

[code]

Then running the agent:

[code]

[code]

Then with PR #237:

[code]

[2021-11-08 19:00] kenyon commented on #234
Yep, same as what @simondeziel wrote. In my case I'm using our Vox Pupuli nginx module to manage nginx, but needed to add a dropin file as a workaround for voxpupuli/puppet-nginx/issues/1372, and noticed this problem with lack of daemon-reload.

[2021-11-09 10:51] ekohl commented on #234
Right, that makes sense. I do wonder how to solve it. Perhaps it should be behind a boolean to either manage it or not? That way users who do manage the service don't get duplicate daemon reloads. I wouldn't want to depend on `defined()` since it's compile order dependent.

[2021-11-09 11:10] traylenator commented on #234
This crops up with a `.timer` and `.service` where the service is never managed by puppet.

Where's the duplicate reload? If we call reload explicity in the puppet run then the one that puppet does automagicly in service restart won't happen. .. Or is there another one?

[2021-11-09 11:33] ekohl commented on #234
That's a good point. I suppose the only duplicate reload would be if there are multiple drop in files.

[2021-11-09 11:42] traylenator commented on #234
There's a good case for adding back the `systemctl::daemon_reload` class or whatever it was. Multiple notifications to that or the exec would of course de-duplicate things.

Whatever its better to do it > 1 rather than not at all.

[2021-11-09 11:49] ekohl commented on #234
The single class was a recipe for disaster. I've run into problems because of it multiple times. In that case I'd prefer a `define` that creates one for a service (ideally using onlyif/unless for idempotency rather than refreshonly). Then use `ensure_resource` in the drop in file.

[2021-11-09 14:36] simondeziel commented on #234
Some systems probably have hundreds or thousands of systemd units managed through puppet so the `onlyif`/`unless` overhead added to each run could quickly add up. The `systemctl::daemon_reload` class had a nice singleton effect, too bad it was a disaster, cause it would have been an easy fix.

[2021-12-08 02:54] ptiggerdine commented on #232
I think the benefit of this module is to allow hiera to manage most of the data change, which when looking at the mentioned services is the creation of ".d" directories, file creation with content and reload of service. This seems more than just a simple wrapper of the "puppetlabs-inifile" library.

I'm sure that with a little bit of tweeting, we can get systemd::dropin to do the heavy lifting.  I

[2021-12-23 13:44] #188 closed

[2022-01-09 11:53] duritong commented on #234
This also crops up if content for .service via a `systemd::timer`is changed and systemd continues to invoke the old cronjob.

Somehow the internal logic of puppet when to execute a daemon-reload is not stable nor trustworthy and we end up adding manual reloads all over the place :-(

[2022-01-09 12:54] duritong commented on #234
I guess this issue got fixed with: https://github.com/voxpupuli/puppet-systemd/pull/199

[2022-01-15 15:48] geor-g commented on #232
@ptiggerdine Can't tell if someone is working on this, but I believe it would be valuable if someone did, and so far no one raised their voice. Therefore, please do. :)

[2022-01-23 13:03] jkroepke opened #242 "systemd::escape function is does not escape a lot of other characters"
The function [`systemd::escape`](https://github.com/voxpupuli/puppet-systemd/blob/master/functions/escape.pp) introduced in https://github.com/voxpupuli/puppet-systemd/pull/220 supports only a minimalistic subset of escape sequences.

For mount units, the `-` needs to be escaped and replaced by `\x2d` (hex representation).

In general, numbers, letters and some special chars are [allowed](https://

[2022-01-24 09:03] jkroepke commented on #242
Or running inside kubernetes ...

Thats correct and thats the reason why this functions should be always called [deferred](https://puppet.com/docs/puppet/6/deferring_functions.html). This avoids any dependency against the master since systemd-escape is executed on the agent only.

And any other special chars, too. Mount points can go wild (looking at samba servers...)

[2022-01-24 13:48] traylenator commented on #242
Deferreed is pretty limited - e.g cannot be called in a template.

Hex is handled
* https://puppet.com/docs/puppet/6/lang_data_number.html#oct-hex-integers
* `sprintf('%X', 10)`

When I wrote function I wrote from the docs - clearly not enough.

[2022-01-24 14:22] jkroepke commented on #242
It's documented, how you can use Deferred function in epp templates. https://puppet.com/docs/puppet/6/deferring_functions.html#deferring_functions-deferred-function-example

I saw this. Converting Hex to String is simple. Can you figure out, how I can convert character to hex?

[code]

[2022-01-24 14:35] traylenator commented on #242
Indeed.  Needs an `ord` function in [extlib](https://github.com/voxpupuli/puppet-extlib) ?

[2022-01-24 15:01] jkroepke commented on #242
And now, it begins to be complex.....

Also see the note from @bastelfreak  .. https://github.com/voxpupuli/puppet-systemd/pull/243#discussion_r790476832

[2022-01-24 15:07] ekohl commented on #242
Why extlib and not stdlib?

[2022-01-24 15:13] jkroepke commented on #242
And why not puppet core?

I guess extlib would be the fastest way to get such a function. The lifecycle of puppet or stdlib maybe takes longer... depends on the puppet development team ...

[2022-02-07 21:38] unixsurfer commented on #234
I have this problem as well when I use dropin _file for [puppet-run.serice](https://github.com/theforeman/puppet-puppet/blob/master/manifests/agent/service/systemd.pp#L19), which is installed by `systemd::timer`, to add `OnFailure` systemd setting for the aforementioned systemd service. The

[code]
and `systemctl show -p NeedDaemonReload` for `puppet-run.service` shows:
[code]

I run puppet in deb

[2022-02-17 07:18] traylenator commented on #203
Agree it would be nice to get this or someway of safely exiting `systemd-resolved` once it is deployed

Background is that  if you stop

[code]

Then both of the possible targets of `/etc/resolv.conf` are left behind i.e

* /run/systemd/resolve/stub-resolv.conf
* /run/systemd/resolve/resolv.conf

so setting `use_stuf_file => false` at the same time to restore symlink to `/run/systemd/resolve/resol

[2022-02-17 07:20] traylenator commented on #203
On the very fine point I agree when the service is stopped `/etc/resolv.conf` should not be managed as that is only going to end badly.

[2022-02-17 10:39] ekohl commented on #203
It feels to me like we should document that `resolv.conf` gets left behind and it's up to the user of this module to find some other content. As @traylenator correctly states: the replacement is not always the same. Some may end up with a static `resolv.conf` file, others may use NetworkManagers and there are probably a few more options out there. Trying to solve it here will just end poorly.

[2022-02-18 07:31] traylenator commented on #232
Since ticket was written , logind.conf , crashcore.conf  journald.conf and others  are all supported.

Doing each file one file at a time makes sense.

Configuring `systemd-X.conf` is often more than just doing the file, e.g packages have to be installed , services restarted ,...

Re the networkd.conf for sure open a particular issue.

Can we close this.

[2022-02-18 12:40] micah commented on #232
Thanks, I think this could be closed.

[2022-02-18 12:40] #232 closed

[2022-02-18 15:55] traylenator commented on #196
It may harm current installations if they have three layers common , env, site and they are not expecting a merge.
I think this should be closed as the May 19th suggestion is good.

[2022-02-18 16:28] #196 closed

[2022-02-21 16:31] #203 closed

[2022-03-13 19:54] jcpunk opened #265 "systemd target support"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7
- Ruby: 3
- Distribution: Fedora
- Module version: 3.8.0

## How to reproduce (e.g Puppet code you use)

## What are you seeing

Can native support for enabling/disabling start/stop systemd targets be added?

## What behaviour did you expect instead

## Output log

## Any additional information you'd like to impart

In man

[2022-03-14 13:12] jcpunk commented on #265
good call, I was looking in the wrong place.

[2022-03-14 13:12] #265 closed

[2022-03-25 06:27] #242 closed

[2022-03-28 15:45] antaflos commented on #234
Just stumbled across this issue as well. It guess we need to re-implement `systemd::daemon_reload` ourselves in order for drop-in files to work correctly, possibly as part of a `profile::systemd` wrapper.

[2022-05-30 16:18] antaflos commented on #234
We implemented this by means of a `profile::systemd` class that is included on every systemd-capable node. It contains the following:
[code]
Is there a reason this couldn't be part of the systemd module itself? It collects all changes to dropin files and runs `systemctl daemon-reload` exactly once.

[2022-05-30 23:44] ekohl commented on #234
It used to have that, but it was very common to run into dependency cycles. Suppose you need one service fully running before you configure another, which is quite common.

[2022-06-10 15:38] trevor-vaughan commented on #234
@ekohl If you need to have a service running before configuring another, then your systemd configuration files should reflect that using triggers.

I'm now also running into this issue with `systemd::dropin_file`. I thought that the original workaound might have fixed things but it has not.

[2022-06-10 16:03] ekohl commented on #234
My main point is that I think a single `daemon-reload` (like via a class) is likely to cause dependency cycles, which is why I initially pushed for removal. That's why I think we should seriously consider a `define`. Probably something that we instantiate once per service and then use `ensure_resource` in every dropin file.

[2022-06-10 19:24] trevor-vaughan commented on #5
Pretty sure this is resolved. Is anyone still having issues with this?

[2022-06-17 07:35] tuxmea opened #281 "Missing dependency in metadata.json"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: any
- Ruby: any
- Distribution: any
- Module version: latest

## What are you seeing

oomd uses shellvar resource type from augeasproviders_shellvar
But this is not mentioned in metadata.json

[2022-06-17 11:56] ekohl commented on #281
It is a soft dependency that's mentioned here:
https://github.com/voxpupuli/puppet-systemd#machine-info-hostnamectl

Should this also be documented in the `@param` documentation? Sadly this is something that the Puppet ecosystem doesn't really deal well with.

[2022-06-17 12:38] trevor-vaughan opened #282 "The module should have the ability to reload services that have outdated unit dropin files"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: Systemd-compatible
- Module version: All

## What are you seeing

After 2.9.0, it was possible to get your system into a state where a `systemctl daemon-reload` needed to be called in order to refresh items based on services.

A custom type should be created that, when enabled, will do the fol

[2022-06-17 21:01] trevor-vaughan opened #284 "Revisit setting daemon-reload to true by default"
We need to revisit setting `systemd::daemon_reload` to `true` by default in calls from `unit_file`.

There may be bugs in Puppet and/or other things that this is currently masking.

Relates to #277

## Notes from IRC

[2022-06-17 22:07] #234 closed

[2022-06-20 09:11] tuxmea commented on #281
@ekohl on the other hand we set the apt module usually in metadata.json, which is not needed when not using Debian based systems.
So apt can be considered to be a soft-dependency, too.

Question is now: How should we deal with soft-dependencies in metadata.json?

[2022-06-20 09:23] tuxmea commented on #281
Had a chat with @bastelfreak. Soft dependencies should not be listed in metadata.json. Closing issue.

[2022-06-20 09:23] #281 closed

[2022-06-20 09:52] ekohl commented on #281
You do raise a valid point about apt. In the majority of cases that can indeed be a soft dependency.

[2022-06-21 18:50] simondeziel opened #286 "circular dependency when using `systemd::unit_file` and `systemd::dropin_file` for the same service"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.27.1-1focal
- Distribution: Ubuntu 20.04
- Module version: head of git (commit 673cbc993e61)

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

[code]

## What behaviour did you expect instead

This used to work before commit 2ed469f3097afa1f658f20318de267427478d88d and also with the never merg

[2022-07-03 06:07] traylenator commented on #286
Is there ever a need to have ?

[code]

on the drop file?

May be easier to just avoid the problem rather than fix.

[2022-07-03 06:12] traylenator commented on #282
Might be better as a feature request to the Service type.

[code]
or something.

[2022-07-05 18:06] bschonec opened #291 "Manage /etc/udev/rules.d directory"
Should the /etc/udev/rules.d directory be purged of non-managed files?

[2022-07-06 13:13] ekohl commented on #291
It could have an option, but it feels too invasive to me to do so by default. For example, on my Fedora 36 system:
[code]

Now the particular file doesn't contain anything and you could argue it should be in `/usr/share/doc` as an example, but there may be more.

[2022-08-24 21:36] trevor-vaughan commented on #282
@traylenator Huh...yeah, maybe. I'm honestly not sure. This really seems like a `systemd` thing so I figured it would go in the `systemd` module. It's a weird one.

[2022-09-18 10:02] saz opened #294 "systemd-timesyncd package should be managed, if required"
On Debian, there's a package `systemd-timesyncd` which should be managed, when `manage_timesyncd => true`.

I'll send in a PR asap

[2022-09-26 19:03] geor-g commented on #294
@saz Thanks for your work, much appreciated! :)

[2022-09-28 13:13] #294 closed

[2022-09-28 16:58] saz commented on #291
Managing yes, but purging by default should be configurable set to `false` by default.

[2022-10-12 15:39] b4ldr opened #298 "New release"
would be nice to have a new release to pick up systemd::manage_unit and systemd::manage_dropin

[2022-10-12 15:43] b4ldr opened #299 "Systemd::Unit::Service: missing User and Group"
a per the description we need to support User and Group in Systemd::Unit::Service

[2022-11-04 14:14] stdietrich opened #300 "Dependency cycle when systemd types are declared in different subclasses"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.17.0
- Ruby: 2.7.6p219
- Distribution: AlmaLinux 8
- Module version: 3.10.0

## How to reproduce (e.g Puppet code you use)

If you use the `systemd` types provided by this module and use it in different subclasses of a module, you'll end up in dependency cycles.
The pre-requisite is, that you 2 systemd resources try to man

[2022-11-04 15:07] stdietrich commented on #300
Please note, while #286 looks similar, it is IMHO a slightly different problem.